.model-3 {
  font-weight: bold;
  font-size: 36px;
  font-family: Montserrat;
  margin-bottom: 6px;
  margin-top: 8px;
  text-align: center;
}
.second-link {
  font-size: 18px;
  text-align: center;
}